---
import dev26 from "@assets/dev26.png";
import Button from "@components/Button.astro";
import GitHub from "@icons/GitHub.astro";
import Instagram from "@icons/Instagram.astro";
import Website from "@icons/Website.astro";
import Layout from "@layouts/Layout.astro";
import { Picture } from "astro:assets";
interface SocialMedia {
  href: string;
  title: string;
  icon: any;
}

const socialMedia: SocialMedia[] = [
  {
    href: "https://github.com/fabriciodev26",
    title: "GitHub",
    icon: GitHub,
  },
  {
    href: "https://www.instagram.com/fabriciodev26/",
    title: "Instagram",
    icon: Instagram,
  },
  {
    href: "https://fabriciodev26.com",
    title: "Website",
    icon: Website,
  },
];
---

<Layout>
  <main class="main">
    <div class="container">
      <Picture
        src={dev26}
        width="200"
        decoding="async"
        loading="lazy"
        formats={["avif", "webp"]}
        alt="Imagen Principal"
        class="image"
      />
    </div>
    <ul role="list" class="list">
      {
        socialMedia.map((item) => (
          <li class="item">
            <Button href={item.href} title={item.title}>
              {item.icon && <item.icon />}
            </Button>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>

<style>
  .main {
    & > .container {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      & .image {
        filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.6));
      }
    }
    padding: 0 4rem;
    & .list {
      display: grid;
      justify-content: center;
      align-items: center;
      gap: 1.5rem;
    }
  }
</style>
