<header class="header">
  <h1 class="title">
    <a href="/">Redes Sociales de fabriciodev26</a>
  </h1>
</header>

<style>
  .header {
    display: flex;
    justify-content: center;
    padding: 3rem 6rem;
    & .title > a,
    & .toggle {
      color: #f0f3ff;
    }
    & .title > a {
      font-size: 3.5rem;
    }
  }
</style>
