---
import Header from "@components/Header.astro";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/dev26.png" />
    <meta name="generator" content={Astro.generator} />
    <title>Redes Sociales</title>
  </head>
  <body>
    <Header />
    <slot />
  </body>
</html>
<style is:global>
  header,
  nav,
  main,
  aside,
  form,
  footer,
  div,
  section,
  article,
  fieldset,
  summary,
  legend,
  menu,
  figure,
  html,
  body,
  ul,
  ol,
  li,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  span,
  a,
  button,
  input,
  table,
  thead,
  tbody,
  tfoot,
  tr,
  th,
  td,
  label,
  canvas,
  details,
  img {
    margin: 0;
    padding: 0;
  }

  li {
    list-style-type: none;
  }

  a {
    text-decoration: none;
  }

  html {
    box-sizing: border-box;
    font-size: 62.5%;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  html {
    font-family: system-ui, sans-serif;
    background: rgba(33, 25, 81, 0.6);
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
</style>
